.feature-box {
	background: linear-gradient(135deg, #ff9800, #F44336);
	padding: 20px;
	border-radius: 12px;

	/* Transition halus */
	transition: all 10s ease;
}
.feature-box-active {
	background: #ff5722;
	transition: all 10s ease;
}

.feature-box:hover {
	transform: translateY(-5px);
	background: linear-gradient(135deg, #F44336, #ff9800);
}

.feature-box2 {
	background: linear-gradient(135deg, #ffffffff, #eeededff);
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 6px rgb(27 177 163 / 32%);
	transition: transform 0.3s, box-shadow 0.3s;
	text-align: left;
}

.fbox-content p {
	margin-top: 0.5rem;
	margin-bottom: 0px;
	color: #585858ff;
}